.brand-logo img {
    width: 100px;
    text-align: center;
  }
  .p{
    font-size: 12px;
  }
  
  .burger {
    position: absolute;
    margin-left: 215px;
    margin-top: 70px;
  }
  .menu {
    display: grid;
    grid-template-columns: 74% 4% 4% 4% 4%;
    grid-template-rows: 50% 50%;
    position: fixed;
    width: 100vw;
    height: 150px;
    top: 0;
    left: 0;
    background-color:  #F3F2EE;
    z-index: 999;
  
  }
  .header-logo {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    object-fit: scale-down;
    display: inline-block;
}
.search{
  grid-column: 2;
  grid-row: 2;
  
    
}
.person{
  grid-column: 3;
  grid-row: 2;

}
.shopping{
  grid-column: 4;
  grid-row: 2;
}
 
  #carouselExampleIndicators {
    margin-top: 66px;
  }
body{
    color: var(--text-color);
}
  
  .title img {
    width: 250px;
    position: absolute;
    top: calc(50% - 5px);
    left: 15%;
  }
  .introduce{
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%,-50%);
   margin-top: 600px;

  }
  
.products{
  position: absolute;
  left: 50%; 
  margin-top: 1000px;
  transform: translate(-50%,-50%);
  object-fit: scale-down;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 60px;
 
  
}
.products p{
  font-size: 6px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 20px;
  color: #544C4D;
}

p.price{
  font-size: 6px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 10px;
  font-weight: 600;

}
.button:hover .hover{
  display:block;
}

.hover{
  cursor: pointer;
  padding: 5px;
  color: rgb(255, 255, 255);
  display:none;
  background-color:#625941;
  text-align: center;
  
  
}


hr{
  width: 980px;
  margin-top: 50px;
  position: absolute;
}

.cart-box{
  margin-top: 1600px;
  position: absolute;
  left: 215px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 10px;
  float: left;
  text-align: center;
  

  
}
.yourcart{
  grid-column: 1;
  grid-row: 1;
}
.hr{
  grid-column: 1/10;
  grid-row: 1/2;
}
.cart-img{
  grid-column: 1/3;
  display: inline-block;
}
.cart-product-title p{
  grid-column: 3/4;
  grid-row: 3;
}
.pricetitle{
  grid-column: 6;
  grid-row: 1;
}

.cart-price{
  grid-column: 6;
  grid-row: 3;
}
.quantitytitle{
  grid-column: 7;
  grid-row: 1;
  margin-left: 50px;
}
.cart-quantity{
  grid-column:7;
  grid-row: 3;
}
.totletitle{
  grid-column: 9;
  grid-row: 1;
}
.total-price{
  grid-column: 9;
  grid-row: 3;
}
.cartt p{
  font-size: 9px;
}
.deletatitle{
  grid-column: 10;
  grid-row: 1;
  margin-left: 50px;
  
}
.remove-cart{
  grid-column: 10;
  grid-row: 3;
  margin-left: 50px;

}
.cart-product-title{
  grid-column: 3/5;
  grid-row: 3;
}
.hr02{
  grid-column: 1/10;
  grid-row: 4;
}
.subtotaltitle{
  grid-column: 10;
  grid-row: 5;
  margin-left: -200px;
}
.subtotal{
  grid-column: 10;
  grid-row: 5;
  font-weight: 600;
  margin-left: 20px;

}
.login{
  position: absolute;
  margin-top: 550px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 100%;
  height: 500px;
  gap: 20px;
}
.login hr{
  width: 450px;
}
.login p{
  font-size: 20px;
}
.content01{
  grid-column: 1/3;
  grid-row:1/2;
}
.hr03{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 50px;
}
.hr04{
  grid-column: 6/8;
  grid-row: 1/2;
}
.name{
  grid-column: 1/6;
  grid-row:2/3;
  float: left;
}
.mail{
  grid-column: 1/6;
  grid-row:3/4;
  width: 350px;
  
}
.phone{
  grid-column: 1/6;
  grid-row: 4/5;
  width: 350px;;
}
#mail{
  width: 450px;
  height: 30px;
  padding: 20px;
}
#name{
  margin-left: -50px;
  margin-right: 20px;
  padding: 20px;
  height: 30px;
}
#pssword{
  margin-left: -15px;
  margin-right: 20px;
  padding: 20px;
  height: 30px;
}
#phone{
  width: 450px;
  height: 30px;
  padding: 20px;
}
.county{
  grid-column: 6/12;
  grid-row: 2;
  display:inline-block;
  margin-left: -53px;
  

  
}
.onlytaiwan{
  grid-column: 6/7;
  grid-row:2 ;
  margin-top: 12px;
  
}
.onlytaiwan p{
  font-size: 9px;
}
#county{
  width: 150px;
  height: 30px;
  padding: 20px;
  display: inline-block;

}
#area{
  width: 150px;
  height: 30px;
  padding: 20px;
  margin-left: 20px;
 display: inline-block;
}
.address{
  grid-column: 6/10;
  grid-row:3/4;
}
#address{
  width: 450px;
  height: 30px;
  padding: 20px;
}
.content02{
  grid-column: 6/8;
  grid-row:1/2;
}
.content03{
  grid-column: 1/3;
  grid-row:6/7;
}
.hr05{
  grid-column: 1/2;
  grid-row: 6/7;
  width: 50px;
}
#pay{
  width: 200px;
  height: 30px;
  padding: 20px;
  margin-left: 20px;
}
.pay{
  grid-column: 1/2;
  grid-row:7/8;
  float: left;
  text-align: left;
}

.addContact{
  grid-row:7/8;
  grid-column: 8/10;
  margin-right: -60px;

}
#addContact{
  padding-top: 10px;
  padding-bottom: 30px;
  width: 200px;
  height: 40px;
  background-color: #625941;
  color: rgb(255, 255, 255);
}
.footer{
  position: absolute;
  margin-top: 1100px;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:1fr 1fr 1fr 1fr;
  width: 100%;
}
.footerlogo{
  grid-column: 1;
  grid-row: 3;

}
.connection{
  grid-column: 2;
  grid-row: 3;
  cursor: pointer;
}
.lineig{
  grid-column: 3;
  grid-row: 3;
  cursor: pointer;
  margin-left: -75px;

}